body {
    font-family: 'Fredoka';
}


/* common elements */
.prime-button {
    border-radius: 15px;
    background: #E55473;
    color: white;
    padding: 15px 30px;
    border: 0px;
    font-size: 25px;
    font-weight: 500;
    font-family: fredoka;
}

.common-heading {
    color: #272727;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-family: lato;
}

.common-des {
    color: #27272799;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* -------------------------- */
/* NAV section */
/* this is the extra portion for bonus mark */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 100px;
    padding-block: -10px;
    margin-top: -10px;
    margin-inline: -8px;
    background-color: #E554731A;
}

.logo {
    font-weight: 800;
    font-size: 40px;
    font-family: lato;
}

nav span {
    color: #E55473;
}

nav a {
    text-decoration: none;
    color: white;
}

.nav-button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}

.nav-button {
    border-radius: 9px;
    background: #e5547300;
    color: #E55473;
    padding: 5px 10px;
    border: 0px solid #474747;
    font-size: 25px;
    font-weight: 800;
    font-family: fredoka;
}

.nav-button:hover {
    border-radius: 9px;
    background: #e5547350;
    color: #E55473;
    box-shadow: 0px 0px 40px 0px #47474770;
    padding: 5px 10px;
    border: 1px solid 474747;
    font-size: 25px;
    font-weight: 800;
    font-family: fredoka;
}

/* Header Section */
header {
    background-color: #E554731A;
    margin-inline: -8px;
    padding-inline: 120px;
    height: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(asset/pngwing\ 10.png);
    background-repeat: no-repeat;
    background-position: 90% bottom;
    background-size: auto 600px;
}


.head-text {
    width: 50%;
}

.head-pic {
    margin-bottom: -50px;
    display: flex;
}

.header-title {
    color: #272727;
    font-family: lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header-des {
    color: #27272799;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

/* --------------------- */

/*  flower section- Main*/

.flower-section {
    margin-block: 140px;
}

.featured-txt {
    text-align: center;
    padding-inline: 350px;
}

.pic-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 100px;
}


.pic1 {
    background-image: url(asset/pngwing\ 7.png);
    border-radius: 300px 300px 0px 0px;
    background-repeat: no-repeat;
    width: 325px;
    height: 375px;
    background-color: #477D1126;
    background-size: 230px auto;
    background-position: bottom center;

}

.pic2 {
    background-image: url(asset/pngwing\ 6.png);
    border-radius: 300px 300px 0px 0px;
    background-repeat: no-repeat;
    width: 325px;
    height: 375px;
    background-color: #A7216226;
    background-size: 230px auto;
    margin-inline: 10px;
    background-position: bottom center;
}

.pic3 {
    background-image: url(asset/pngwing\ 5.png);
    border-radius: 300px 300px 0px 0px;
    background-repeat: no-repeat;
    width: 315px;
    height: 375px;
    background-color: #0597A026;
    background-size: 220px auto;
    background-position: 60% 70%;
}

.flowername-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 100px;
}

.flowername {
    font-size: 20px;
    color: #272727;
    text-decoration-line: underline;
    margin-inline: 110px;
}

/* -------------------------- */

/* info section */

.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2727270D;
    padding-top: 70px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    margin-inline: 100px;

}

.icon1, .icon2, .icon3 {
    text-align: center;
    font-size: 18px;
    color: #272727CC;
}

.icon-container p {
    margin-bottom: 0px;
}

/* --------------------- */

.offer {
    background-color: #e5547315;
    height: 440px;
    margin-inline: -8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    padding-inline: 180px;
}

#off {
    color: #E55473;
}

.offer div {
    width: 50%;
}

.offer-txt {
    text-align: center;
}

.offer-pic {
    background-image: url(asset/pngwing\ 8.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 290px;
}

/* -------------------- */

.insta-txt {
    text-align: center;
    padding-inline: 400px;
}

.insta-pic-container {
    display: flex;
    justify-content: space-evenly;
    margin-inline: 100px;

}

.insta-pic-container img {
    height: 295px;
    border-radius: 8px;
}

/* --------------------- */
.custom-order {
    background-color: #0598a02a;
    margin-inline: -8px;
    margin-block: 100px;
    padding-inline: 180px;
    padding-block: 50px;
    background-repeat: no-repeat;
    background-image: url(asset/custom\ order.png);
    background-size: 30%;
    background-position: 90% center;
}

.custom-txt {
    width: 40%;
    text-align: left;
}

.custom-heading {
    color: #272727;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-family: lato;
    margin-block: 0px;
}

.custom-des {
    font-size: 16px;
    color: #000000a1;

}

.custom-txt input, textarea {
    margin-block: 7px;
    width: 100%;
    resize: none;
    border: 0px;
    border-radius: 5px;
    padding-inline: 15px;
    padding-block: 10px;
    font-family: fredoka;
    font-size: 16px;
}

.custom-txt input::placeholder, textarea::placeholder {
    font-family: Fredoka;
    font-size: 16px;
    color: #0000005e;
}

.custom-submit {
    border-radius: 10px;
    background: #05a086a4;
    color: #000000a1;
    padding: 12px 15px;
    border: 0px;
    font-size: 20px;
    font-weight: 500;
    font-family: fredoka;
    margin-block: 10px;
    margin-inline: 3px;
}

/* ---------------------- */
.subscribe {
    background-image: url(asset/Rectangle\ 9.png);
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px;
    margin: 100px;
    text-align: center;
}

.form-sec {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

.sub-button {
    border-radius: 8px;
    background: #E55473;
    color: white;
    padding: 13px 18px;
    border: 0px;
    font-size: 22px;
    font-weight: 500;
    font-family: fredoka;
}

.subscribe input {
    width: 500px;
    height: 50px;
    border: 0px;
    padding-inline: 30px;
    border-radius: 8px;
}

#email-box::placeholder {
    font-family: fredoka;
}

/* _________________ */

/* foooter section */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-block: 160px;
    padding-inline: 400px;
    margin-bottom: -8px;
    margin-inline: -8px;

}

.footer-head {
    font-family: lato;
    font-weight: bolder;
}

.footer-span {
    color: #E55473;
}

footer p {
    font-size: 14px;
    color: #FFFFFFE5;
}